*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header
{
    background-color: #EAE6DD;
}

.box
{
    max-width: 1300px;
    margin: auto;
}

.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav
{
    flex: 1;
    text-align: right;
}

nav ul
{
    display: inline-block;
    list-style-type: none;
}

nav ul li
{
    margin-right: 20px;
    display: inline-block;
}

a
{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.one
{
     background-image: url(images/accountbg.webp);
     width: 350px;
     margin: auto;
     padding: 20px;
}
 
/*Footer*/
.footer
{
    padding: 20px;
    margin-top: 20px;
    background: lightgreen;
}

.row
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

